<style>
    div{float:left}
</style>
<body>
<table>
<td>
    <div>
    <a href="/home"><button>home</button></a>
        </div>
       <div>
    <a href="/yuhun"><button>yuhun</button></a>
        </div>
     <div>
    <a href="/juexing"><button>juexing</button></a>
        </div>
     <div>
    <a href="/tansuo"><button>tansuo</button></a>
        </div>
      <div>
    <a href="do"><button>ALL</button></a>
        </div>
</td>

</table>
<table>
    <td><img src=/static/img/screen.jpg></td>
</table>
    <table>
        <td>
        <a href="stop"><button>STOP</button></a>

    <a href="/startAppium"><button>startAppium</button></a>
    </td>
    </table>
